

@import './color-variable';
$primary-palatte: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #dfedd8,
    300 : #b6d7a7,
    400 : #a4ce92,
    500 : #93c47d,
    600 : #82ba68,
    700 : #70b153,
    800 : #629e48,
    900 : $primary-color,
    A100 : #ffffff,
    A200 : #e8f9e1,
    A400 : #acde96,
    A700 : #a0d08a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$accent-palette: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #fffaeb,
    300 : #ffe8a3,
    400 : #ffe185,
    500 : #ffd966,
    600 : #ffd147,
    700 : #ffca29,
    800 : #ffc20a,
    900 : #ebb000,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe699,
    A700 : #ffdf80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warn-palette: (
    50 : #ffffff,
    100 : #e8eff1,
    200 : #c4d8dc,
    300 : #97bac2,
    400 : #84adb6,
    500 : #71a0ab,
    600 : #5e939f,
    700 : #53818c,
    800 : #476f79,
    900 : #3c5e66,
    A100 : #ffffff,
    A200 : #c6e7ef,
    A400 : #84becb,
    A700 : #7caeb9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
