.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/13/00/07/boy-4123600_1280.jpg');
  background-size: cover;
}


.card-footer {
  margin: 20px 0;

  button {
    margin-right: 10px;
  }
}