<div class="container " style="margin-top: 50px;">

  <div class="component-ui">
    <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

    <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

    <div class="demo-section">
      Button with a badge on the left
      <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
      </button>
    </div>

    <div class="demo-section">
      Button toggles badge visibility
      <button mat-raised-button matBadge="7">
        Hide
      </button>
    </div>

    <div class="demo-section">
      Icon with a badge
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </div>


    <section>
      <div class="example-label">Mini FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
        </div>
      </div>

    </section>
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Progress Bar</h2>
        <label>
          Indeterminate progress-bar
          <mat-progress-bar class="app-progress" mode="indeterminate"
            aria-label="Indeterminate progress-bar example"></mat-progress-bar>
        </label>
        <label>
          Determinate progress bar - {{progress}}%
          <mat-progress-bar class="app-progress" color="accent" mode="determinate" [value]="progress"
            aria-label="Determinate progress-bar example"></mat-progress-bar>
        </label>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Checkbox</h2>
        <mat-checkbox color="warn">Unchecked</mat-checkbox>
        <mat-checkbox [checked]="true">Checked</mat-checkbox>
        <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
        <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="component-ui">

    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Raised</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Icon</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>



  </div>


</div>


<div class="container ">

  <div class="component-ui">


  </div>
  <div class="component-ui">



  </div>
</div>
