<div class="wrapper">
  <div>
    Dark Mode
    <mat-slide-toggle color="primary" [checked]="isLightMode" (change)="toggle($event)"></mat-slide-toggle>
    Light Mode
  </div>

  <!-- Everything below is just example content -->

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@rashed</mat-card-title>
      <mat-card-subtitle>Beautiful bangladesh</mat-card-subtitle>
    </mat-card-header>
    <img style="padding: 20px;" mat-card-image
      src="https://cdn.pixabay.com/photo/2017/08/15/13/34/natural-2643941_1280.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries,
      </p>
    </mat-card-content>
    <mat-card-actions class="card-footer">
      <button mat-raised-button>Like</button>
      <button mat-raised-button color="primary">Share</button>
    </mat-card-actions>
  </mat-card>

</div>